$hoofdkleur: #0073CF; 
$hoofdkleur50: #85BADF;
$hoofdkleur25: #C2DEF0;

$blauw: #00bFE6;
$blauw50: #93D8ED;
$blauw25: #C7EAF6;

$groen: #2FBBAC;
$groen50: #98D5D0;
$groen25: #CBE9E7;

$geel: #FFCD67;
$geel50: #FFE2B1;
$geel25: #FEF2DB;

$rood:#F2728C;
$rood50: #F7B8C6;
$rood25: #FCDDE3;